<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white">
  <a
    href="#" class="text-center" style="alignment: center">
    <img src="https://www.kk.dk/sites/default/files/multisite_logopakke_v_blaa.png" height="50" width="150">
  </a>
  <a routerLink="/legepladser" class="navbar-brand" href="#" style="color: #000C2E">Københavns Legepladser</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/aktiviteter" class="nav-link" style="color: #000C2E">Aktiviteter<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="/billeder" class="nav-link" style="color: #000C2E">Fotos</a>
      </li>
    </ul>
    <form class="form-inline md-form form-sm">
      <input class="form-control form-control-sm ml-4 w-75" type="text" placeholder="Søg" aria-label="Search"
             mdbInput>
    </form>
  </div>
    <a class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Admin
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Login</a> <!-- mangler at blive implementeret -->
      </div>
    </a>
</nav>



