<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white">
     <!-- xmlns:https="http://www.w3.org/1999/xhtml"> -->
  <a
    href="#" class="text-center" style="alignment: center">
    <img src="https://www.kk.dk/sites/default/files/multisite_logopakke_v_blaa.png" height="50" width="150">
  </a>
  <a class="navbar-brand" href="#" style="color: #000C2E">Københavns Legepladser</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color: #000C2E">Aktiviteter<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #000C2E">Fotos</a>
      </li>
    </ul>
    <app-search></app-search>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" appDropdown>
        <a href="#" class="dropdown-toggle" role="button">Admin <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Save data</a></li>
        </ul>
      </li>
    </ul>


    <!--
  </div>
    <a class="dropdown">
      <button type="button" role="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Admin </button>
      <div class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Login</a></li>
      </div>
    </a>
</nav>
-->
  </div>
</nav>
