<div class="row">
  <div class="col-xs-12">
    <hr>
    <a href="#" class="list-group-item clearfix" *ngFor="let legeplads of Legepladser">
      <div class="pull-left">
        <h4 class="bold">{{ legeplads.legeplads }}</h4>
        <p class="list-group-item-text">{{ legeplads.beskrivelse }}</p>
      </div>
      <span class="pull-right">
                <img
                  [src]="legeplads.imagePath"
                  alt="{{ legeplads.legeplads }}"
                  class="img-responsive"
                  style="max-height: 50px;">
            </span>
    </a>
  </div>
</div>




