<div class="container-md">
<mdb-carousel [isControls]="false" [animation]="'slide'">
  <mdb-carousel-item class="centeringImages">
    <img class="d-block w-50" src="https://wp-uploads.interactives.dk/boligcious.dk/uploads/2013/03/01114139/boligcious-design-legeplads-playground-monstrum-play-scapes-taarnlegepladsen2.jpg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item class="centeringImages">
    <img class="d-block w-50" src="https://kk.sites.itera.dk/apps/kk_legepladser_ny/images/stor/lp_29_13.jpg" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item class="centeringImages">
    <img class="d-block w-50" src="https://kk.sites.itera.dk/apps/kk_legepladser_ny/images/stor/lp_29_15.jpg" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>
</div>
