<div class="moveDetails" style="color: #007ea4">
  <div class="row">
    <div class="col-xs-2">
      <img [src]="playground.imagePath"
           alt="{{playground.name}}"
           class="img-responsive"
           style="max-height: 100px">

      <h1>{{playground.name}}</h1>

      <h4>Adresse:</h4>
      <p>{{this.playground.adress.streetName}}</p>
      <p>{{this.playground.adress.commune}}</p>
      <h4>Events: </h4>
      <ul>
        <li *ngFor="let eventElement of playground.events">
          <td>{{eventElement}}</td>
        </li>
      </ul>
    </div>

    <div class="movingElements">
      <div class="movingInnerClass">
      <app-worker-list></app-worker-list>
      </div>
    </div>
  </div>
</div>



