<div class="moveDetails" style="color: #007ea4">
<div class="row">
  <div class="col-xs-12">
    <img [src]="playground.imagePath"
         alt="{{playground.name}}"
         class="img-responsive"
         style="max-height: 100px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{playground.name}}</h1>
  </div>
</div>
<div class="row">
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Adresse:</h4>
    <p>{{this.adressStreetStr}}</p>
    <p>{{this.adressCommuneStr}}</p>

  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <tbody>
    <h4>Events: </h4>
    <ul>
      <li *ngFor="let eventElement of playground.events">
        <td>{{eventElement}}</td>
      </li>
    </ul>
  </div>
</div>
</div>
