<div class="row">
  <div class="col-xs-12">
    <hr>
    <a href="#" class="list-group-item clearfix" *ngFor="let playground of Playgrounds">
      <div class="pull-left">
        <h4 class="bold">{{ playground.playground }}</h4>
        <p class="list-group-item-text">{{ playground.description }}</p>
      </div>
      <span class="pull-right">
        <img
          [src]="playground.imagePath"
          alt="{{ playground.description }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
    </a>
  </div>
</div>




