<app-header></app-header>
<hr>
<!-- <app-searching></app-searching> Det skal være muligt at søge på vores hjemmeside -- implementeres senere -- -->
<div class="align-content-center">
<div class="playground-image-container">
  <div class="image-container">
  <div>
    <app-playground-photos></app-playground-photos>
  </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-playgrounds></app-playgrounds>
    </div>
  </div>
</div>
<app-footer></app-footer>
