<app-header></app-header>
<hr>
<!-- <app-playground-photos></app-playground-photos> -->

<div class="container">
  <div class="row">
    <div class="col-md-11">
      <app-playgrounds></app-playgrounds>
    </div>
  </div>
</div>


<!-- <div class="element-distance">
<br>
<app-footer></app-footer>
</div> -->
<app-footer></app-footer>


<!--

  <div style="height: 305px">


<div class="container">
  <div class="row">
    <div class="col-md-11">
      <app-legepladser></app-legepladser>
    </div>
  </div>
</div> -->



