<app-header></app-header>
<div class="col-md-11">
  <app-legeplads-billeder></app-legeplads-billeder>


  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <app-kindergardens></app-kindergardens>
      </div>
    </div>
  </div>


  <br>
  <app-footer></app-footer>


  <!--

    <div style="height: 305px">


  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <app-legepladser></app-legepladser>
      </div>
    </div>
  </div> -->
