<div class="row">
  <div class="col-xs-12">
    <img [src]="kinderGarden.imagePath"
         alt="{{kinderGarden.name}}"
         class="img-responsive"
         style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{kinderGarden.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">

    <!--
        <div class="btn-group" (show)="appDropdown="{'open' : isOpen}" (click)="isOpen = !isOpen"">
    -->

    <div class="btn-group"
         appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Kindergarden <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add event</a></li>
        <li><a href="#">Edit event</a></li>
        <li><a href="#">Delete event</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    kinderGarden.adress
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul>
      <li>
events
      </li>
    </ul>
  </div>
</div>
